main {
  height: calc(100% - 97px);
  overflow-y: scroll;
  padding: 0 20px;
  width: auto;
}

nav {
  overflow-x: scroll;
  overflow-y: hidden;
}

.main-inner {
  max-width: 720px;
  margin: 50px auto;
}

pre {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow-x: scroll;
  padding: 15px;
}

h3 {
  margin-top: 50px;
}
