body {
  width: 100%;
  overflow-x: scroll;
  position: absolute;
}

nav {
  min-width: 1440px;
}

main {
  display: flex;
  justify-content: center;
  min-width: 1440px;
  width: 100%;
  height: calc(100% - 97px);
}

footer {
  min-width: 1440px;
}

.card {
  transition: all 0.1s;
  overflow-x: visible;
  margin: 10px 0;
  padding: 15px 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 400px;
  display: flex;
}

.card.history-card {
  width: 250px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.1s;
}

.card.history-card:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card.history-card:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-left {
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-left-anchor {
  display: block;
  position: relative;
  top: 11px;
  left: -8px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: red;
}

.card-right {
  flex: 1;
}

.card-header {
  display: flex;
  padding-right: 10px;
  flex-wrap: wrap;
}

.history-card .card-header {
  padding: 0;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  flex: 1;
}

.concept-card-title {
  font-weight: bold;
  font-size: 18px;
  flex: 1;
}

.classes-card-title {
  font-weight: bold;
  font-size: 24px;
  flex-basis: 100%;
}

.history-card .card-title {
  font-size: 18px;
}

.card-id {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-id div {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.card-id div::before {
  content: "#";
}

.history-card .card-id div {
  font-size: 18px;
}

.card-tags {
  padding: 10px 15px 0 0;
}

.card-tag-outer {
  padding-top: 5px;
  display: inline-block;
}

.card-tag {
  transition: all 0.1s;
  text-decoration: none;
  color: rgba(44, 44, 44, 1);
  display: block;
  line-height: 25px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0.00);
  cursor: pointer;
}

.card-tag:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: red;
}

.card-tag:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-section-captions {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

.concept-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags-container {
  align-items: center;
}

.tags-header {
  padding: 10px 10px 10px 0;
  font-weight: bold;
}

.card-section-captions li {
  transition: all 0.1s;
  background-color: rgba(0, 0, 0, 0.00);
  padding: 10px;
  cursor: pointer;
}

.card-section-captions li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card-section-captions li:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-section-captions li.active {
  background-color: rgb(255, 194, 194);
  font-weight: bold;
}

.card-section-caption {
  display: flex;
}

.card-section-caption-title {
  flex: 1;
  padding-right: 15px;
}

.card-section-caption-anchor {
  display: flex;
  width: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-section-caption-anchor-circle {
  display: block;
  position: relative;
  left: 11px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  opacity: 0;
}

.card-section-caption-anchor-circle.active {
  background-color: red;
  opacity: 1;
}

.wikihow-link-holder {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 15px 7px;
}

.wikihow-link-holder a {
  transition: all 0.1s;
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  color: rgba(44, 44, 44, 1);
}

.wikihow-link-holder a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: red;
}

.wikihow-link-holder a:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: red;
}

.wikihow-link-holder a i {
  display: inline-block;
  margin-right: 5px;
}

.history-card .card-section-caption-anchor-circle.active {
  left: 15px;
}

.card-column {
  padding: 0 20px;
  overflow-y: scroll;
}

.card-column-inner {
  min-height: calc(100% - 40px);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line-canvas {
  width: 120px;
  height: 100%;
  margin-left: -20px;
}

.line-canvas + .card-column {
  margin-left: -20px;
}

#left .card {
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}

#base-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.prior {
  color: red;
}

.concept-tag {
  /* display: flex; */
  /* text-decoration: none; */
  /* margin-bottom: 15px; */
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.container-image-caption {
  width: 36%;
  padding: 20px;
}

.details-image {
  max-width: 100%;
}

.selected-card {
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}

.concept-card:hover {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}