* {
  font-family: 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  width: 0;
  height: 0;
}

body {
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#title {
  font-weight: bold;
  font-size: 16px;
  padding: 0 15px;
}

nav a {
  text-decoration: none;
  color: rgba(44, 44, 44, 1);
}

nav .link {
  padding: 0 10px;
  transition: all 0.1s;
}

nav .link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

nav .link:active {
  background-color: rgba(0, 0, 0, 0.1);
}

nav .link.active {
  font-weight: bold;
  color: red;
  border-bottom: 2px solid red;
}

nav .separator {
  margin: 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

nav form {
  display: flex;
}

nav form button {
  font-size: 12px;
  margin: 10px 0;
  line-height: 30px;
}

nav form input {
  display: block;
  border: none;
  flex: 1;
  padding: 5px;
  height: calc(100% - 10px);
  line-height: 30px;
  font-size: 12px;
}

#nav-search-form {
  display: flex;
  flex: 1;
  padding-right: 10px;
}

main {
  width: 100%;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  line-height: 45px;
  text-align: center;
}

.mask {
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1024;
  opacity: 0;
}

.mask.active {
  opacity: 1;
}

.mask-inner {
  width: 720px;
  margin: auto;
  color: white;
  text-align: center;
}

.mask-inner a {
  color: white;
}
