body {
  width: 100%;
  overflow-x: scroll;
  position: absolute;
}

nav {
  min-width: 960px;
}

main {
  min-width: 960px;
  height: calc(100% - 97px);
  overflow-y: scroll;
}

footer {
  min-width: 960px;
}

#search-form {
  padding: 100px 0;
  text-align: center;
}

#search-form-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

#category-select {
  width: 150px;
  font-size: 14px;
}

#search-bar {
  font-size: 18px;
}

#search-form button {
  font-size: 18px;
}

#search-results-outer {
  max-width: 960px;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

#search-message {
  text-align: center;
  padding: 10px 0;
}

.search-results {
  display: flex;
}

.search-result-column-outer {
  width: calc((100% - 30px) / 3);
  padding: 15px 0;
}

.search-result-column-outer + .search-result-column-outer {
  margin-left: 15px;
}

.search-result-column {
  width: 100%;
}

.bottleneck-link {
  display: flex;
  text-decoration: none;
  color: rgba(44, 44, 44, 1);
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.1s;
}

.bottleneck-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.bottleneck-link:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.bottleneck-name {
  transition: all 0.1s;
  font-weight: bold;
  flex: 1;
}

.bottleneck-link:hover .bottleneck-name {
  color: red;
}

.task-id {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}

.task-id::before {
  content: "#";
}
